.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    gap: 2vh;
}

button {
    width: 12vh;
    height: 12vh;
}

.top {
    width: 25vh;
}

.row {
    display:flex;
    gap: 1vh;
}